<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="http://logs-01.loggly.com/" />
      <!--add loggly customer token here-->
      <inputKey value="75b1198b-3181-4389-bbbf-c3834971490c" />
      <tag value="loggly_ConsoleApp" />
      <logicalThreadContextKeys value="lkey1,lkey2" />
      <!-- optional -->
      <globalContextKeys value="gkey1,gkey2" />
      <!-- optional -->
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>